<div class="position-absolute top-0 left-0 z-n1" id="this-div" [class]="{
  'position-absolute': true,
  'top-0': true,
  'left-0': true,
  'z-n1': true,
  'img-bg-light': !themeSvc.isDark(),
  'img-bg-dark': themeSvc.isDark(),
  'img-bg': true
  }"></div>
<div id="container-div" class="px-4 mx-auto">
  <header class="row justify-content-between py-4">
    <h1 id="title" class="col-4 text-uppercase fw-semibold text-white">Todo</h1>
    <button (click)="logout()" class="btn col-4 fw-semibold fs-3 py-0 text-uppercase text-white">
      <i class="fa-solid fa-right-to-bracket"></i>
    </button>
    <app-theme-btn class="col-4 text-end" />
  </header>

  <main class="text-center">
    <form [formGroup]="theForm" (submit)="onSubmit($event)">
      <input class="form-control border-0 bg-body-secondary shadow-lg p-3" type="text" formControlName="newTodo" />
      <button type="submit" style="display: none;"></button>
    </form>

    <br />

    <ul class="list-group shadow-lg">
      @for (todo of todos().filter(filters[currFilter][1]); track todo.id; let idx = $index) {
      <li class="list-group-item bg-body-secondary">
        <div class="row justify-content-between p-2">
          <div class="col-1 m-0">
            <button (click)="toggleStatus(idx)" [class]="{
              'btn': true,
              'border': true,
              'rounded-circle': true,
              'btn-grad': todo.completed,
              'comp-btn': true
              }">
                @if (todo.completed) {
                <img src="images/icon-check.svg" />
                }
              </button>
          </div>
            <span [class]="{
              'col-9': true,
              'text-secondary': todo.completed,
              'text-decoration-line-through': todo.completed
              }">{{ todo.name }}</span>
            <button class="col-1 btn" (click)="deleteTodo(idx)">
              <img src="images/icon-cross.svg" />
            </button>
        </div>
      </li>
      }
      <li class="list-group-item bg-body-secondary">
        <div class="row justify-content-between py-2">
          <span class="col-4 text-secondary">{{ todos().filter(x => !x.completed).length }} items left</span>
          <a href="#" class="col-4 text-decoration-none link-secondary" (click)="clearCompleted()">Clear Completed</a>
        </div>
      </li>
    </ul>

    <br />


    <ul class="list-inline bg-body-secondary p-3 shadow-lg rounded">
      @for (x of filters; track $index; let idx = $index) {
      <li class="list-inline-item mx-2">
        <a href="#" [class]="{
          'text-decoration-none': true,
          'link-primary': idx === currFilter,
          'link-secondary': idx !== currFilter,
          }" (click)="toggleFilter(idx)">{{ x[0] }}</a>
      </li>
      }
    </ul>

  </main>

  <footer class="text-center text-secondary">
    <p>Drag and drop to reorder list (not implemented yet)</p>
  </footer>
</div>
