<div class="container-fluid">
  <header>
    <h1>Todo App</h1>
    <button>Toggle Light/Dark</button>
  </header>

  <main>
    <form [formGroup]="theForm" (submit)="onSubmit($event)">
      <input type="text" formControlName="newTodo" />
      <button type="submit" style="display: none;"></button>
    </form>

    <ul>
    @for (todo of todos().filter(filters[currFilter][1]); track todo.id; let idx = $index) {
    <li>
      @if (todo.completed) {
      <p>completed!</p>
      } @else {
      <p>not completed</p>
      }
      <button (click)="toggleStatus(idx)">toggle complete</button>
      <p>{{ todo.name }}</p>
      <button (click)="deleteTodo(idx)">delete</button>
    </li>
    }
    </ul>

    <p>{{ todos().filter(x => !x.completed).length }} items left</p>

    <ul>
      @for (x of filters; track $index; let idx = $index) {
      <li>
        <a href="#" (click)="toggleFilter(idx)">{{ x[0] }}</a>
      </li>
      }
    </ul>

    <a href="#" (click)="clearCompleted()">Clear Completed</a>
  </main>

  <footer>
    <p>placeholder</p>
  </footer>
</div>
